.loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($loader-wrapper-background-color, $loader-wrapper-background-opacity);
    z-index: $loader-wrapper-z-index;
    &.loader-center {
    @include flex();
    @include css3-prefix("justify-content", "center");
    @include css3-prefix("align-items", "center");
    @include css3-prefix("flex-direction", "column");
    }
    &.upload-loader {
        background: $loader-wrapper-background-color;
        z-index: 100;
        h4 {
        font-size: 14px;
        margin-top: 15px;
        font-weight: 700;
        }
    }
    &.inner-loader {
        background: $loader-wrapper-background-color;
    }
}

.loader {
    border-radius: 50%;
    width: $loader-size;
    height: $loader-size;
    margin: 0 auto;
    position: relative;
    border-top: $loader-border-width solid transparentize($loader-border-color, 0.85);
    border-right: $loader-border-width solid $loader-border-color;
    border-bottom: $loader-border-width solid $loader-border-color;
    border-left: $loader-border-width solid $loader-border-color;
    @include css3-prefix("animation", "spin 2s infinite linear");
    @include transform(translateZ(0));
    &:after {
        border-radius: 50%;
        width: inherit;
        height: inherit;
    }
}
